<div class="card text-right">
    <div class="card-header p-3">
        {{ 'auth.forgot_password' | translate }}
    </div>
    <div class="card-body p-4">
        <form [formGroup]="forgotPasswordForm" (submit)="sendForgotPasswordForm()">
            <div class="mt-2 mb-4">
                <input type="email" class="form-control" formControlName="email" placeholder="{{ 'auth.email' | translate }}">
                <validation-message [FormControl]="forgotPasswordForm.controls['email']"></validation-message>
            </div>

            <div class="row justify-content-end">
                <div class="col-12 col-md-3 col-lg-3">
                    <a class="btn btn-primary w-100" [routerLink]="['../login']">{{ 'general.back' | translate }}</a>
                </div>
                <div class="col-12 col-md-3 col-lg-3">
                    <button type="submit" class="btn btn-primary w-100">{{ 'general.submit' | translate }}</button>
                </div>
            </div>
                
        </form>
    </div>
    <div class="card-footer p-3" style="background-image: linear-gradient(to right, #ebebeb, #e0e0e0, #d4d4d4, #c9c9c9, #bebebe);"></div>
</div>