.translation {
    .translation-label {
        font-size: 10px;
        position: absolute;
        top: 0;
    }
    .translation-dropdown {
        margin-top: 10px;
        font-size: 16px;
    }
}