.requests {
    height: calc(100vh - 96px);

    .form-list {
        text-align: center;
        padding: 0 8px 0 0;
        i-feather {
            width: 92px;
            height: 92px;
        }

        .form-type {

        }
    }
}