.admin-container {
    width: 100vw;
    .admin-sidebar {
        height: calc(100vh - 48px);
        width: 280px;

        .sidebar-item {
            height: 32px;

            i-feather {
                height: 32px;
                width: 32px;
            }
            .sidebar-label {
                display: inline-table;
                padding-left: 16px;
                font-size: 18px;
            }
        }
    }
    .admin-content {
        width: calc(100% - 280px);
    }
}