<div class="container dashboard">
    <div class="section row">
        <div class="col-12 col-md-6 col-lg-6 pt-2">
            <div class="card number-card p-4 pb-0 border-warning text-warning"
                style="background-image: url('assets/img/svg/flag.svg');">
                <div class="card-body p-2">
                    <h2 class="text-black">
                        Fee per Month
                    </h2>
                    <div class="text-end">
                        <p class="price">RM 240.20</p>
                        <p>Includes maintenance fee and sinking fund</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 pt-2">
            <div class="card number-card p-4 pb-0 border-danger text-danger"
                style="background-image: url('assets/img/svg/alert-circle.svg');">
                <div class="card-body p-2">
                    <h2 class="text-black">
                        Unpaid Fee Total
                    </h2>
                    <div class="text-end">
                        <p class="price">RM 240.20</p>
                        <p>2 months since your last payment</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section row mt-4" style="height: 100%">
        <div class="col-12 col-md-8 col-lg-8">
            <h2>Public Board</h2>
            <div class="accordion" id="pb1">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="pbh1">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#pbc1"
                            aria-expanded="true" aria-controls="pbc1">
                            Accordion Item #1
                        </button>
                    </h2>
                    <div id="pbc1" class="accordion-collapse collapse show" aria-labelledby="pbh1"
                        data-bs-parent="#pb1">
                        <div class="accordion-body">
                            <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse
                            plugin adds the appropriate classes that we use to style each element. These classes control the overall
                            appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                            custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go
                            within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 col-lg-4">
            <h2>Notice</h2>
            <div class="accordion" id="n1">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="nh1">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#nc1"
                            aria-expanded="true" aria-controls="nc1">
                            Accordion Item #1
                        </button>
                    </h2>
                    <div id="nc1" class="accordion-collapse collapse show" aria-labelledby="nh1"
                        data-bs-parent="#n1">
                        <div class="accordion-body">
                            <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse
                            plugin adds the appropriate classes that we use to style each element. These classes control the overall
                            appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with
                            custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go
                            within the <code>.accordion-body</code>, though the transition does limit overflow.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>