<nav class="navbar navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            Property Management System
        </a>
        <ng-container *ngIf="!compactNavbar">
            <ul class="nav">
                <app-translation></app-translation>
            </ul>
        </ng-container>
        
        <ng-container *ngIf="compactNavbar">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
                aria-controls="offcanvasDarkNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
                aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-2">
                        <li class="nav-item mb-3" [routerLink]="['./']">
                            <i-feather name="trello"></i-feather>
                            <span class="ms-2 align-bottom">Dashboard</span>
                        </li>
                        <li class="nav-item mb-3" [routerLink]="['./property']">
                            <i-feather name="layers"></i-feather>
                            <span class="ms-2 align-bottom">Property</span>
                        </li>
                        <li class="nav-item mb-3" [routerLink]="['./unit']">
                            <i-feather name="home"></i-feather>
                            <span class="ms-2 align-bottom">Unit</span>
                        </li>
                        <li class="nav-item mb-3" [routerLink]="['./facility']">
                            <i-feather name="dribbble"></i-feather>
                            <span class="ms-2 align-bottom">Facility</span>
                        </li>
                        <app-translation></app-translation>
                    </ul>
                </div>
            </div>
        </ng-container>
    </div>
</nav>
<div class="dashboard-container">
    <div class="d-flex flex-column p-4 text-white bg-dark dashboard-sidebar" *ngIf="!compactNavbar" [ngClass]="{ 'hide-label': hideLabel }">
        <div class="d-flex justify-content-end text-white" (click)="hideLabel = !hideLabel">
            <i-feather [name]="hideLabel ? 'arrow-right-circle' : 'arrow-left-circle'"></i-feather>
        </div>

        <hr>

        <ul class="nav nav-pills flex-column mb-auto">
            <li class="sidebar-item" [routerLink]="['./']">
                <i-feather name="trello"></i-feather>
                <span class="sidebar-label align-bottom">Dashboard</span>
            </li>
            <li class="sidebar-item" [routerLink]="['./property']">
                <i-feather name="layers"></i-feather>
                <span class="sidebar-label align-bottom">Property</span>
            </li>
            <li class="sidebar-item" [routerLink]="['./unit']">
                <i-feather name="home"></i-feather>
                <span class="sidebar-label align-bottom">Unit</span>
            </li>
            <li class="sidebar-item" [routerLink]="['./facility']">
                <i-feather name="dribbble"></i-feather>
                <span class="sidebar-label align-bottom">Facility</span>
            </li>
        </ul>

        <hr>

        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                <strong>Chong</strong>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1" style="">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Sign out</a></li>
            </ul>
        </div>

    </div>
    <div class="dashboard-content">
        <router-outlet></router-outlet>
    </div>

</div>

<!-- 0199365593
0166663629 -->