<div class="card text-right">
    <div class="card-header p-3">
        {{ 'auth.reset_password' | translate }}
    </div>
    <div class="card-body p-4">
        <form [formGroup]="resetPasswordForm" (submit)="sendResetPasswordForm()">
            <div class="input-group mt-2 mb-4">
                <input type="password" class="form-control" #password formControlName="password" placeholder="{{ 'auth.password' | translate }}">
                <div class="input-group-addon ml-auto d-flex align-items-center p-2 border rounded-end bg-light"
                    (click)="password.getAttribute('type') == 'text' ? password.setAttribute('type', 'password') : password.setAttribute('type', 'text')">
                    <i-feather name="{{password.getAttribute('type') == 'text' ? 'eye' : 'eye-off'}}"></i-feather>
                </div>
            </div>

            <div class="input-group mb-4">
                <input type="password" class="form-control" #passwordConfirmation formControlName="passwordConfirmation" placeholder="{{ 'auth.confirm_password' | translate }}">
                <div class="input-group-addon ml-auto d-flex align-items-center p-2 border rounded-end bg-light"
                    (click)="passwordConfirmation.getAttribute('type') == 'text' ? passwordConfirmation.setAttribute('type', 'password') : passwordConfirmation.setAttribute('type', 'text')">
                    <i-feather name="{{passwordConfirmation.getAttribute('type') == 'text' ? 'eye' : 'eye-off'}}"></i-feather>
                </div>
            </div>

            <button type="submit" class="btn btn-primary float-end">{{ 'general.submit' | translate }}</button>
        </form>
    </div>
    <div class="card-footer p-3" style="background-image: linear-gradient(to right, #ebebeb, #e0e0e0, #d4d4d4, #c9c9c9, #bebebe);"></div>
</div>